.modal {
  position: fixed;
  top: 35vh;
  left: calc(50% - (300px / 2));
  width: 300px;
  height: fit-content;
  z-index: 100;
  border: 1px solid #083074;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #083074;

  &__warning {
    background: rgb(252, 118, 118);
  }
  &__info {
    background: #ffffff;
  }
  &__add-to-card {
    background: #ffffff;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 30px;
  }
  &__text {
    padding: 5px 30px;
  }
  &__btn {
    margin: 10px 10px;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    background-color: rgb(241, 76, 34);
    &:hover {
      cursor: pointer;
    }
  }
}

.btn__close {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}
